<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<!-- Service -> DAO-> JDBCUtils ->DB -->

	<!-- Configure data source Support different datasource e.g. C3p0. DBCP...... -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.OracleDriver"></property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@lauji-W10:1521:XE"></property>
		<property name="user" value="ita"></property>
		<property name="password" value="ita"></property>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="productDao" class="cn.oocl.dao.ProductDaoImpl.java">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<bean id="productDaoService" class="cn.oocl.service.ProductService.java">
		<property name="productDao" ref="productDao"></property>

	</bean>
</beans>